{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}


<div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="mt-4 mb-3">Formulaire de contact :</h1>

            {{ form_start(formContact) }}

            <div class="form-group">
                <label for="">Nom</label>
                {{ form_widget(formContact.name) }}
            </div>

            <div class="form-group">
                <label for="">Email</label>
                {{ form_widget(formContact.mail) }}
            </div>

            <div class="form-group">
                <label for="">Objet</label>
                {{ form_widget(formContact.object) }}
            </div>

            <div class="form-group">
                <label for="">Message</label>
                {{ form_widget(formContact.content) }}
            </div>

            <button type="submit" class="btn btn-success">Envoyer</button>

            {{ form_end(formContact) }}

        </div>
        </div>
</div>


{% endblock %}
